/*
 * Copyright (c) 5 - 11 - 2022  By LANKOANDE B David, BURKINA FASO.
 * All rights reserved
 */

@font-face {
    -fx-font-family: 'Roboto Regular';
    src: url('/fonts/Roboto-Regular.ttf');
}

@font-face {
    -fx-font-family: 'Roboto Thin';
    src: url('/fonts/Roboto-Thin.ttf');
}

@font-face {
    -fx-font-family: 'Roboto Bold';
    src: url('/fonts/Roboto-Bold.ttf');
}

@font-face {
    -fx-font-family: 'Roboto Medium';
    src: url('/fonts/Roboto-Medium.ttf');
}

@font-face {
    -fx-font-family: 'Roboto Light';
    src: url('/fonts/Roboto-Light.ttf');
}