.menu-bar {
    -fx-background-color: -teal-800;
}

.menu-bar .container .menu:openvertically {
    -fx-border-color: transparent;
}

.menu-bar {
    -fx-border-width: 0px;
    -fx-padding: 0px 0px 0px 5px;
    -fx-background-insets: 0px;
}

.menu-bar .container  {
    -fx-border-width: 0px;
}

.menu-bar > *.container > *.menu-button > *.label {
    -fx-padding: 2px;
    -fx-background-insets: 0px;
    -fx-border-width: 0px;
    -fx-text-fill: white;
}

.menu-bar > *.container > *.menu-button:hover {
    -fx-background-color: -light-blue-700;
    -fx-border-color: -light-blue-700;
}

.menu-item {
    -fx-background-color: transparent;
}

.menu-item .label {
    -fx-padding: 1px;
    -fx-text-fill: -grey-700;
    -fx-font-family: Roboto;
}

.menu-item:focused, .menu-item:focused .label {
    -fx-background-color: -light-blue-700;
}

.menu-item:focused, .menu-item:focused .label {
    -fx-text-fill: white;
}

.context-menu {
    -fx-background-color: -light-blue-50;
    -fx-background-radius: 0 0 0 0, 0 0 0 0, 10;
    -fx-padding: 0.1em 0em 0.1em 0em;
    -fx-border-color: -grey-400;
    -fx-border-style: solid;
    -fx-pref-width: 180px;
}

.context-menu .separator {
    -fx-padding: 0.58333275em 1.333332em 0.58333275em 1.333332em; /*7 16 7 16 */
}

.menu > .right-container {
    -fx-padding: 0px 0px 0px 100px;
}

.menu-bar > .container > .menu > .arrow-button {
    -fx-padding: 0.500em 0 0.500em 0; /* 6 0 6 0 */
}

.menu > .right-container > .arrow {
    -fx-padding: 0.458em 0.167em 0.458em 0.167em; /* 4.5 2 4.5 2 */
    -fx-shape: "M0,-4L4,0L0,4Z";
    -fx-background-color: -grey-700;
    -fx-scale-shape: false;
}

.menu:focused > .right-container > .arrow {
    -fx-background-color: white;
}
