
@import url("fonts.css");

/************************************************************************************
*
*               @-fx-background-color
*
*************************************************************************************/

.button, .toggle-button,

.slider .thumb, .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:focused,
.tree-view .virtual-flow .clipped-container .sheet .tree-cell:focused:filled,
.progress-bar:determinate .bar,
.pagination .pagination-control .control-box .number-button:selected,
.tree-table-view .column-resize-line,
.tree-table-view .column-overlay,
.tree-table-view .column-header-background .column-drag-header,
.tree-table-row-cell:filled:selected .table-column:filled,
.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:focused:selected,
.check-box:determinate .box, .check-box:selected:determinate .box,
.check-box:indeterminate .box, .spinner:focused {
    -fx-background-color: -base;
}

.spinner,
.scroll-pane .viewport, .scroll-pane, .scroll-pane:fitToWidth,
.scroll-pane:fitToWidth:fitToHeight,
.tree-table-row-cell:filled .table-column:filled,
.tree-table-view .virtual-flow .clipped-container .sheet .tree-table-row-cell,
.check-box:determinate .box,
.spinner:focused,
.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-background-color: transparent;
}

.text-field, .list-view,
.choice-box {
    /*-fx-background-color: -box-base;*/
}

.check-box:selected:determinate .box .mark,
.check-box:indeterminate .box .mark {
    -fx-background-color: white;
}

/*.button:hover {*/
/*    -fx-background-color: derive(-base, -40%);*/
/*}*/

/*.button:focused {*/
/*    -fx-background-color: derive(-base, -40%), derive(-base, -40%), -base;*/
/*}*/

.hyperlink {
    -fx-border-color: transparent;
    -fx-text-fill: -base;
}

/************************************************************************************
*
*               @-fx-border-width
*
*************************************************************************************/

/*.button:focused {*/
/*    -fx-border-width: 4px;*/
/*}*/

/************************************************************************************
*
*               @-fx-effect
*
*************************************************************************************/

.toggle-button:selected {
    -fx-effect: innershadow(gaussian, #00000045, 16, 0, 0, 5);
}

/************************************************************************************
*
*               @-fx-text-fill
*
*************************************************************************************/

.check-box,
.radio-button,
.spinner {
    -fx-text-fill: -text-color;
}

.button {
    -fx-text-fill: -inner-text;
}

/*.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {*/
/*    -fx-text-fill: -text-color;*/
/*}*/

.hyperlink:pressed {
    -fx-text-fill: black;
}

/************************************************************************************
*
*               @-fx-underline
*
*************************************************************************************/

.hyperlink {
    -fx-underline: false;
}

/************************************************************************************
*
*               @-fx-font-family
*
*************************************************************************************/

/*.text {*/
/*    -fx-font-family: "Roboto Regular";*/
/*}*/

/************************************************************************************
*
*               @-fx-fill
*
*************************************************************************************/

.hyperlink SVGPath {
    -fx-fill: -icon-color;
}

.hyperlink:pressed SVGPath {
    -fx-fill: black;
}

/************************************************************************************
*
*               @-fx-cursor
*
*************************************************************************************/

.button, .toggle-button, .check-box {
    -fx-cursor: hand;
}

/************************************************************************************
*
*               @-fx-pref-height
*
*************************************************************************************/

/*.tab-pane:top .tab-header-area .headers-region .tab:top {*/
/*    -fx-pref-height: 40px;*/
/*}*/

/************************************************************************************
*
*               @-fx-border-color
*
*************************************************************************************/


/* Couleur de la bordure des composants lors du focus: textfield, spinner, .... */
.tree-view:focused,
.text-field:focused,
.choice-box:focused,
.check-box:indeterminate .box, .check-box:hover:determinate .box,
.check-box:selected:determinate .box {
    -fx-border-color: -base;
}

 /*Couleur de la bordure des composants: textfield, spinner, .... */
.text-field, .spinner, .spinner,
.check-box:determinate .box,
.choice-box,
.check-box:determinate .box {
    -fx-border-color: -box-fill;
}

.tab-pane:top .tab-header-area .tab-header-background {
    -fx-border-color: -separator-color;
}

.tab-pane:top .tab-header-area .headers-region .tab:selected:top {
    -fx-border-color: transparent transparent -base transparent;
}

/************************************************************************************
*
*               @-fx-pref-width
*
*************************************************************************************/

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-pref-width: 100px;
}

/************************************************************************************
*
*               @-fx-focus-color
*
*************************************************************************************/

.tab-pane:top .tab-header-area .headers-region .tab:selected:top {
    -fx-focus-color: transparent;
}

/************************************************************************************
*
*               @-fx-faint-focus-color
*
*************************************************************************************/

.tab-pane:top .tab-header-area .headers-region .tab:selected:top {
    -fx-faint-focus-color: transparent;
}

/************************************************************************************
*
*               @-font-weight
*
*************************************************************************************/

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-font-weight: bold;
}

/************************************************************************************
*
*               @-fx-alignment
*
*************************************************************************************/

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-alignment: CENTER;
}

/************************************************************************************
*
*               @-fx-shape
*
*************************************************************************************/


.check-box:selected:determinate .box .mark {
    -fx-shape: "M9.005,17.766l13.759,14.739h1.716L49.02,0l10.298,8.488L25.997,50.453h-3.629L0,26.897L9.005,17.766z";
}


/************************************************************************************
*
*               @-fx-background-radius
*
*************************************************************************************/

.text-field {
    -fx-background-radius: 0px;
}

/************************************************************************************
*
*               @-fx-border-radius
*
*************************************************************************************/

.check-box:indeterminate .box,
.check-box:determinate .box {
    -fx-border-radius: 0px;
}

/************************************************************************************
*
*               @-fx-background-insets
*
*************************************************************************************/

.check-box:indeterminate .box,
.check-box:determinate .box {
    -fx-background-insets: 0px;
}

.choice-box .label,
.color-picker .label {
    -fx-text-fill: -box-text-color;
}

.text-field,
.list-view {
    -fx-background-color: -box-base;
}


.text-field,
.menu-button, .choice-box {
    -fx-background-radius: 0px;
}

.spinner .increment-arrow-button .increment-arrow,
.spinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: -icon-color;
}

.choice-box .open-button .arrow {
    -fx-padding: 0.236110875em 0.333333em 0.236110875em 0.333333em; /* (2/3 * 4.25) 4 (2/3 * 4.25) 4 */
    -fx-shape: "M-78,640l-6-5.5v-3l6,5l0,0l6-5v3L-78,640L-78,640z";
    -fx-background-insets: 0 0 0 0, 0;
    -fx-background-color: -icon-color;
}

.choice-box:disabled {
    -fx-opacity: .4;
}



/* OPEN BUTTON */

/*.context-menu {*/
/*    -fx-background-color: white;*/
/*    -fx-background-insets: 0, 1, 2;*/
/*    -fx-background-radius: 0 0 0 0, 0 0 0 0, 10;*/
/*    -fx-padding: 0.5em 0em 0.5em 0em; !* 6 0 6 0 *!*/

/*    -fx-border-color: -base;*/
/*    -fx-border-style: solid;*/
/*}*/

/*.context-menu .separator {*/
/*    -fx-padding: 0.58333275em 1.333332em 0.58333275em 1.333332em; !*7 16 7 16 *!*/
/*}*/

/* TODO: try to scope the menu-item style to the contextmenu */
.radio-menu-item > .left-container > .radio {
    -fx-padding: 4px;
}

.radio-menu-item:checked > .left-container > .radio {
    -fx-background-color: -icon-color;
    -fx-shape: "M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z";
}

.radio-menu-item:focused:checked > .left-container > .radio {
    -fx-background-color: white;
}

.check-menu-item:checked > .left-container > .check {
    -fx-padding: 4px;
}

.check-menu-item:checked > .left-container > .check {
    -fx-background-color: -icon-color;
    -fx-shape: "M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z";
}

.check-menu-item:focused:checked > .left-container > .check {
    -fx-background-color: white;
}

.spinner .text-field, .spinner .text-field:readonly,
.spinner .text-field, .spinner .text-field:readonly {
    -fx-border-color: transparent;
}


.radio-button > .radio {
    -fx-background-color: transparent;
    -fx-background-radius: 1.0em; /* large value to make sure this remains circular */
    -fx-background-insets: 0;

    -fx-border-radius: 1.0em;
    -fx-border-color: -box-fill;
    -fx-border-width: 2px;

    -fx-padding: 4px; /* 4 -- padding from outside edge to the inner black dot */
}

.radio-button > .radio > .dot {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 1.0em; /* large value to make sure this remains circular */
    -fx-padding: 6px; /* 3 -- radius of the inner black dot when selected */
}

.radio-button:selected > .radio,
.radio-button:pressed > .radio {
    -fx-border-color: -base;
    -fx-border-width: 6px;
}

.radio-button:hover > .radio {
    /* -fx-border-color: -gray; */
    -fx-border-width: 6px;
}

.radio-button:armed > .radio {
    -fx-border-color: -base;
}

.radio-button:selected > .radio > .dot,
.radio-button:pressed > .radio > .dot {
    -fx-padding: 2px;
}

.radio-button:hover > .radio > .dot {
    -fx-padding: 2px;
}

/* .radio-button:pressed > .radio, */
.radio-button:pressed > .radio {
    -fx-border-color: -base;
}

.radio-button:disabled {
    -fx-opacity: 0.5;
}

.radio-button:disabled > .radio {
    -fx-background-color: #e6e6e6;
    -fx-border-color: #d9d9d9;
}


/* ================= @-fx-font-family =========== */


.toggle-button {
    -fx-background-insets: 0;
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
}

.toggle-button:selected {
    -fx-effect: innershadow(gaussian, #00000045, 16, 0, 0, 5);
}

.toggle-button {
    -fx-text-fill: white;
    -fx-border-width: 0px;
}

.gn-buttons .gn-close, .gn-buttons .gn-minimize, .gn-buttons .gn-maximize,
.gn-buttons .gn-full-screen {
    -fx-background-color: transparent;
}

/*Changer la couleur du texte des text-field*/
.text-field {
    -fx-text-fill: -box-text-color;
    -fx-font-size: 1.222em;
    -fx-prompt-text-fill: -grey-700;
}

.pagination .pagination-control .control-box .right-arrow-button:pressed .left-arrow,
.pagination .pagination-control .control-box .left-arrow-button:pressed .right-arrow {
    -fx-background-color: white;
    -fx-background-insets: 0;
}

.color-picker .arrow-button .arrow {
    -fx-padding: 0.236110875em 0.333333em 0.236110875em 0.333333em; /* (2/3 * 4.25) 4 (2/3 * 4.25) 4 */
    -fx-shape: "M-78,640l-6-5.5v-3l6,5l0,0l6-5v3L-78,640L-78,640z";
    -fx-background-color: -icon-color;
}

.color-picker > .color-picker-label > .picker-color > .picker-color-rect {
    -fx-stroke: -dark-gray;
}

.color-palette {
    -fx-spacing: 0.833333em; /* 10px */
    -fx-border-color: -highlight-border;
    -fx-background-color: white;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 0px;
    -fx-padding: 1em; /* 12 */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 12, 0.0, 0, 8);
}

.color-palette > .color-picker-grid {
    -fx-padding: 5px;
    -fx-snap-to-pixel: false;
}

.color-palette > .color-picker-grid > .color-square {
    -fx-background-color: transparent;
    -fx-padding: 0.5px;
}

/* the color over which the user is hovering */
.color-palette > .color-picker-grid > .color-square:focused,
.color-palette > .color-picker-grid > .color-square:selected:focused {
    -fx-background-insets: -2, 0;
    -fx-background-radius: 5, 0;
    -fx-scale-x: 1.5;
    -fx-scale-y: 1.5;
}

/* the currently selected color */
.color-palette > .color-picker-grid > .color-square:selected {
    -fx-background-color: black;
}

/* ------- CUSTOM COLOR DIALOG ------- */
.custom-color-dialog > .color-rect-pane {
    -fx-spacing: 0.75em;
    -fx-pref-height: 16.666667em;
    -fx-alignment: top-left;
    -fx-fill-height: true;
}

.custom-color-dialog .color-rect-pane .color-rect {
    -fx-min-width: 16.666667em;
    -fx-min-height: 16.666667em;
}

.custom-color-dialog .color-rect-pane .color-rect-border {
    -fx-border-color: derive(-fx-base, -20%);
}

.custom-color-dialog > .color-rect-pane #color-rect-indicator {
    -fx-background-color: null;
    -fx-border-color: white;
    -fx-border-radius: 0.4166667em;
    -fx-translate-x: -0.4166667em;
    -fx-translate-y: -0.4166667em;
    -fx-pref-width: 0.833333em;
    -fx-pref-height: 0.833333em;
    -fx-effect: dropshadow(three-pass-box, black, 2, 0.0, 0, 1);
}

.custom-color-dialog > .color-rect-pane > .color-bar {
    -fx-min-width: 1.666667em;
    -fx-min-height: 16.666667em;
    -fx-max-width: 1.666667em;
    -fx-border-color: derive(-fx-base, -20%);
}

.custom-color-dialog > .color-rect-pane > .color-bar > #color-bar-indicator {
    -fx-border-radius: 0.333333em;
    -fx-border-color: white;
    -fx-effect: dropshadow(three-pass-box, black, 2, 0.0, 0, 1);
    -fx-pref-width: 2em;
    -fx-pref-height: 0.833333em;
    -fx-translate-x: -0.1666667em;
    -fx-translate-y: -0.4166667em;
}

.custom-color-dialog {
    -fx-background-color: white;
    -fx-padding: 1.25em;
    -fx-spacing: 1.25em;
}

.custom-color-dialog .controls-pane .current-new-color-grid #current-new-color-border {
    -fx-border-color: -medium-gray;
    -fx-border-width: 1px;
}

.custom-color-dialog .controls-pane .current-new-color-grid .color-rect {
    -fx-min-width: 10.666667em;
    -fx-min-height: 1.75em;
    -fx-pref-width: 10.666667em;
    -fx-pref-height: 1.75em;
}

.custom-color-dialog .controls-pane #spacer1 {
    -fx-min-height: 0.1666667em;
    -fx-max-height: 0.1666667em;
    -fx-pref-height: 0.1666667em;

}

.custom-color-dialog .controls-pane #spacer2 {
    -fx-min-height: 1em;
    -fx-max-height: 1em;
    -fx-pref-height: 1em;
}

.custom-color-dialog .controls-pane #settings-pane {
    -fx-hgap: 0.4166667em;
    -fx-vgap: 0.3333333em;
}

.custom-color-dialog .controls-pane #settings-pane .settings-label {
    -fx-min-width: 5.75em;
}

.custom-color-dialog .controls-pane #settings-pane .settings-unit {
    -fx-max-width: 1em;
}

.custom-color-dialog .controls-pane #settings-pane .slider {
    -fx-pref-width: 8.25em;
}

.custom-color-dialog .controls-pane .color-input-field {
    -fx-pref-column-count: 3;
    -fx-max-width: 3.25em;
    -fx-min-width: 3.25em;
    -fx-pref-width: 3.25em;

}

.custom-color-dialog .controls-pane .web-field {
    -fx-pref-column-count: 6;
    -fx-pref-width: 8.25em;
}

.custom-color-dialog .controls-pane #spacer-side {
    -fx-min-width: 0.5em;
    -fx-pref-width: 0.5em;
}

.custom-color-dialog .controls-pane #spacer-bottom {
    -fx-pref-height: 0.833333em;
    -fx-min-height: 0.833333em;
}

.custom-color-dialog .controls-pane .customcolor-controls-background {
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: 0.8333333em 0 0.4166667em 0,
    1em 0.166667em 0.5833333em 0.166667em;
    -fx-background-radius: 0.3333333em, 0.166667em;

}

.custom-color-dialog .controls-pane .current-new-color-grid .label {
    -fx-padding: 0 0 0 0.4166667em;
}

.custom-color-dialog .controls-pane #buttons-hbox {
    -fx-spacing: 0.333333em;
    -fx-padding: 1em 0 0 0;
    -fx-alignment: bottom_right;
}

.custom-color-dialog .controls-pane #buttons-hbox > .button {
    -fx-min-width: 65px;
    -fx-pref-width: 65px;
    -fx-max-width: 65px;
}

.slider .thumb {
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 1.0em; /* makes sure this remains circular */
    -fx-padding: 0.583333em; /* 7 */
    -fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.1), 5, 0.0, 0, 2);
}

.slider:focused .thumb {
    -fx-background-radius: 1.0em; /* makes sure this remains circular */
}

.slider .track {
    -fx-background-color: -track-fill;
    -fx-background-insets: 0 0 -1 0, 0, 1;
    -fx-background-radius: 0.25em, 0.25em, 0.166667em; /* 3 3 2 */
    -fx-padding: 0.25em; /* 3 */
}

.slider:vertical .track {
    -fx-background-color: -track-fill;
}

.slider .axis {
    -fx-tick-label-fill: red;
    -fx-tick-length: 5px;
    -fx-minor-tick-length: 3px;
    -fx-border-color: null;
}

.html-editor {
    -fx-border-width: 1px;
    -fx-border-color: -base;
}

.html-editor:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.html-editor {
    /* -fx-background-color : transparent; */
}

.html-editor-foreground {
    -fx-color-label-visible: false;
    -fx-color-rect-x: 1;
    -fx-color-rect-y: 1;
    -fx-color-rect-width: 4;
    -fx-color-rect-height: 3;
    /* -fx-graphic: url("HTMLEditor-Text-Color.png"); */
}

.html-editor-background {
    -fx-color-label-visible: false;
    -fx-color-rect-x: 1;
    -fx-color-rect-y: 1;
    -fx-color-rect-width: 4;
    -fx-color-rect-height: 3;
    /* -fx-graphic: url("HTMLEditor-Background-Color.png"); */
}

.html-editor-foreground > .color-picker-label > .picker-color > .picker-color-rect,
.html-editor-background > .color-picker-label > .picker-color > .picker-color-rect {
    -fx-stroke: null;
}

.html-editor .grid .top-toolbar:horizontal,
.html-editor .grid .bottom-toolbar:horizontal {
    -fx-background-color: transparent;
}

.html-editor .button,
.html-editor .toggle-button {
    -fx-min-height: 0px;
    -fx-pref-height: 30px;
    -fx-background-color: transparent;
    -fx-border-color: -default-border;
    -fx-border-width: 1px;
    -fx-padding: 0.333333em 0.416667em 0.333333em 0.416667em; /* 4 5 4 5 */
}

.html-editor .button:pressed,
.html-editor .toggle-button:selected {
    -fx-effect: null;
    -fx-background-color: derive(-light-gray, -10%);
    -fx-border-width: 1px;
    -fx-padding: 0.333333em 0.416667em 0.333333em 0.416667em; /* 4 5 4 5 */
}

.html-editor .grid .bottom-toolbar:horizontal .container .combo-box,
.html-editor .grid .top-toolbar:horizontal .container .color-picker {
    -fx-pref-height: 30px;
}

.html-editor-cut {
    /* -fx-graphic: url("HTMLEditor-Cut.png"); */
}

.html-editor-copy {
    /* -fx-graphic: url("HTMLEditor-Copy.png"); */
}

.html-editor-paste {
    /* -fx-graphic: url("HTMLEditor-Paste.png"); */
}

.html-editor-align-left {
    /* -fx-graphic: url("HTMLEditor-Left.png"); */
}

.html-editor-align-center {
    /* -fx-graphic: url("HTMLEditor-Center.png"); */
}

.html-editor-align-right {
    /* -fx-graphic: url("HTMLEditor-Right.png"); */
}

.html-editor-align-justify {
    /* -fx-graphic: url("HTMLEditor-Justify.png"); */
}

.html-editor-outdent {
    /* -fx-graphic: url("HTMLEditor-Outdent.png"); */
}

.html-editor-indent {
    /* -fx-graphic: url("HTMLEditor-Indent.png"); */
}

.html-editor-bullets {
    /* -fx-graphic: url("HTMLEditor-Bullets.png"); */
}

.html-editor-numbers {
    /* -fx-graphic: url("HTMLEditor-Numbered.png"); */
}

.html-editor-bold {
    /* -fx-graphic: url("HTMLEditor-Bold.png"); */
}

.html-editor-italic {
    /* -fx-graphic: url("HTMLEditor-Italic.png"); */
}

.html-editor-underline {
    /* -fx-graphic: url("HTMLEditor-Underline.png"); */
}

.html-editor-strike {
    /* -fx-graphic: url("HTMLEditor-Strikethrough.png"); */
}

.html-editor-hr {
    /* -fx-graphic: url("HTMLEditor-Break.png"); */
}

.progress-bar:determinate .track,
.progress-bar:indeterminate .track {
    -fx-background-radius: 0px;
}

.progress-bar:determinate {
    -fx-padding: 0px;
}

.progress-bar:determinate .track {
    -fx-background-color: -track-fill;
}

.progress-bar:determinate .bar {
    -fx-background-insets: 0px;
}

.progress-bar:indeterminate .bar {
    -fx-background-insets: 0px;
    -fx-background-color: linear-gradient(to left, derive(-base, 80%), -base);
}

.progress-bar:indeterminate .track {
    -fx-background-color: -light-gray;
}


.scroll-pane:fitToWidth .viewport {
    -fx-background-color: -background-color;
}

.scroll-bar > .thumb {
    -fx-background-color: #cdcdcd;
    -fx-background-insets: 2;
    -fx-background-radius: 0;
}

.scroll-bar > .thumb:hover {
    -fx-background-color: #dadada;
}

.scroll-bar > .thumb:pressed {
    -fx-background-color: #606060;
}

.scroll-bar > .track {
    -fx-background-color: #f0f0f0;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.scroll-bar > .track-background {
    -fx-background-color: #f0f0f0;
    -fx-background-insets: 20px;
}

.scroll-bar > .increment-button,
.scroll-bar > .decrement-button {
    -fx-background-color: #f0f0f0;
    -fx-background-insets: 0;
    -fx-background-radius: 0;

    -fx-padding: 5px; /* 3 */
}

.scroll-bar > .increment-button:hover,
.scroll-bar > .decrement-button:hover {
    -fx-background-color: #dadada;
}

.scroll-bar > .increment-button:pressed,
.scroll-bar > .decrement-button:pressed {
    -fx-background-color: #606060;
}

.scroll-bar > .decrement-button > .decrement-arrow,
.scroll-bar > .increment-button > .increment-arrow {
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-background-color: transparent, #606060;
    -fx-effect: null;
}

.scroll-bar > .decrement-button:pressed > .decrement-arrow,
.scroll-bar > .increment-button:pressed > .increment-arrow {
    -fx-background-color: transparent, white;
    -fx-effect: null;
}

.scroll-bar:vertical > .increment-button > .increment-arrow,
.scroll-bar:vertical > .decrement-button > .decrement-arrow {
    -fx-padding: 0.333333em 0.5em 0.0em 0.0em; /* 4 6 0 0 */
}

.scroll-bar:horizontal > .increment-button > .increment-arrow,
.scroll-bar:horizontal > .decrement-button > .decrement-arrow {
    -fx-padding: 0.5em 0.333333em 0.0em 0.0em; /* 6 4 0 0 */
}

.scroll-bar:disabled {
    -fx-opacity: 0.4;
}

/* ARROW SHAPES */
.scroll-bar:horizontal > .decrement-button > .decrement-arrow {
    -fx-shape: "M11,17H8.111l-3.86-4.124l3.86-4.125H11l-3.375,4.125L11,17z";
}

.scroll-bar:horizontal > .increment-button > .increment-arrow {
    -fx-shape: "M7.626,12.876L4.251,8.751H7.14L11,12.876L7.14,17H4.251L7.626,12.876z";
}

.scroll-bar:vertical > .decrement-button > .decrement-arrow {
    -fx-shape: "M4,17v-2.889l4.124-3.86l4.125,3.86V17l-4.125-3.375L4,17z";
}

.scroll-bar:vertical > .increment-button > .increment-arrow {
    -fx-shape: "M8.124,13.625l4.125-3.375v2.889l-4.125,3.86L4,13.139V10.25L8.124,13.625z";
}


.pagination .pagination-control .control-box .right-arrow-button,
.pagination .pagination-control .control-box .left-arrow-button {
    -fx-background-color: transparent;
}

.pagination .pagination-control .control-box .right-arrow-button .right-arrow {
    -fx-shape: "M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z";
}

.pagination .pagination-control .control-box .left-arrow-button .left-arrow {
    -fx-shape: "M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z";
}

.pagination .pagination-control .control-box .number-button {
    -fx-min-width: 30px;
    -fx-min-height: 30px;
    -fx-background-color: transparent;
    -fx-text-fill: -text-color;
}

.pagination .pagination-control .control-box .number-button:selected {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .2), 5, 0, 0, 0);
    -fx-text-fill: white;
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-background-insets: 0px;
}

.spinner .increment-arrow-button {
    -fx-border-width: 0px 0px 1px 1px;
}

.spinner .decrement-arrow-button {
    -fx-border-width: 0px 0px 0px 1px;
}

/*Changer la couleur de la bordure d'une list-view*/
.list-view {
    -fx-border-color: -box-fill;
}

/**/
.list-view:focused {
    -fx-background-radius: 0px;
}

/*Changer la couleur d'arrière plan de la céllule ainsi que le padding*/
.list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    /*-fx-background-color: white;*/
    -fx-padding: 3px 3px 3px 3px;
    -fx-font-family: Roboto;
}

/*Changer la couleur d'arrière plan de la céllule lorsque la souris passe par dessus*/
.list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:hover {
    -fx-background-color: #103551;
}

/**/
.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:focused {
    -fx-background-insets: 0;
}

/*Changer la couleur du texte lorsque la cellule est selectionnée*/
.list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:selected {
    -fx-text-fill: white;
}

.list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:selected:hover {
    -fx-text-fill: -text-color;
}

/**/
.list-view > .text-field-list-cell .text-field {
    -fx-border-color: transparent transparent -box-fill transparent;
    -fx-border-width: 0 0 1 0;
}

.list-view .text-field-list-cell:selected .text-field {
    -fx-border-color: transparent transparent -base transparent;
    -fx-background-insets: 0px 0px 2px 0px;
    -fx-border-width: 0px 0px 2px 0px;
}

.hyperlink {
    -fx-underline: false;
}

.hyperlink:focused {
    -fx-border-width: 1px;
}

.tooltip {
    -fx-background-color: -dark-gray;
    -fx-background-insets: 0;
    -fx-background-radius: 2;

    -fx-padding: 7px; /*4 8 4 8 */

    -fx-font-family: Roboto;
    -fx-font-weight: bold;
    -fx-text-fill: white;

    -fx-border-width: 0px;

    -fx-effect: null;
}

/************************************************************************************
*
*               #Colors
*
*************************************************************************************/


.transparent, .flat, .flat:pressed, .flat:focused,
.btn-transparent:focused, .btn-transparent:pressed, .btn-transparent:hover,
.btn-transparent,
.outlined {
    -fx-background-color: transparent;
}


.primary, .out-primary:hover, .out-primary:focused, .btn-primary, .primary .jfx-snackbar-content,
.primary .virtual-flow .clipped-container .sheet .jfx-list-cell:filled {
    -fx-background-color: -primary;
}

.base, .btn-base, .default .jfx-snackbar-content,
.out-base:focused, .out-base:hover {
    -fx-background-color: #2BBBAD;
}

.info, .btn-info, .info .jfx-snackbar-content,
.info .virtual-flow .clipped-container .sheet .jfx-list-cell:filled,
.out-info:focused, .out-info:hover {
    -fx-background-color: -info;
}

.success, .btn-success, .success .jfx-snackbar-content,
.success .virtual-flow .clipped-container .sheet .jfx-list-cell:filled,
.out-success:focused, .out-success:hover {
    -fx-background-color: -success;
}

.warning, .btn-warning, .warning .jfx-snackbar-content,
.warning .virtual-flow .clipped-container .sheet .jfx-list-cell:filled,
.out-warning:focused, .out-warning:hover {
    -fx-background-color: -warning;
}

.danger, .btn-danger, .danger .jfx-snackbar-content,
.danger .virtual-flow .clipped-container .sheet .jfx-list-cell:filled,
.out-danger:focused, .out-danger:hover {
    -fx-background-color: -danger;
}

.secondary, .btn-secondary, .secondary .jfx-snackbar-content,
.secondary .virtual-flow .clipped-container .sheet .jfx-list-cell:filled,
.out-secondary:focused, .out-secondary:hover {
    -fx-background-color: -secondary;
}

.unique, .btn-unique, .unique .jfx-snackbar-content,
.unique .virtual-flow .clipped-container .sheet .jfx-list-cell:filled,
.out-unique:focused, .out-unique:hover {
    -fx-background-color: -unique;
}

.elegant, .btn-elegant, .elegant .jfx-snackbar-content,
.elegant .virtual-flow .clipped-container .sheet .jfx-list-cell:filled,
.out-elegant:focused, .out-elegant:hover {
    -fx-background-color: -elegant;
}

.cyan, .btn-cyan,
.cyan .virtual-flow .clipped-container .sheet .jfx-list-cell:filled {
    -fx-background-color: -cyan;
}

.lime, .btn-lime {
    -fx-background-color: -lime;
}

.yellow, .btn-yellow {
    -fx-background-color: -yellow;
}

.pink, .btn-pink {
    -fx-background-color: -pink;
}

.indigo, .btn-indigo {
    -fx-background-color: -indigo;
}

.amber, .btn-amber {
    -fx-background-color: -amber;
}

.brown, .btn-brown {
    -fx-background-color: -brown;
}

.deep-orange, .btn-deep-orange {
    -fx-background-color: -deep-orange;
}

.red, .btn-red {
    -fx-background-color: -red;
}

.blue-gray, .btn-blue-gray {
    -fx-background-color: -red;
}

.purple, .btn-purple .purple .virtual-flow .clipped-container .sheet .jfx-list-cell:filled {
    -fx-background-color: -purple;
}

.gray, .btn-gray {
    -fx-background-color: -gray;
}

/************************************************************************************
*
*               #Helpers
*
*************************************************************************************/

.elevator, .flat:focused {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .2), 5, 0, 0, 0);
}

.elevator:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .2), 20, 0, 0, 0);
}

.toggle-light {
    -fx-background-color: white;
    -fx-text-fill: -gray;
    -fx-border-width: 1px;
}

.toggle-light:focused,
.toggle-light:pressed,
.toggle-light:selected,
.toggle-light:selected SVGPath {

    -fx-effect: null;
    -fx-text-fill: white;
    -fx-background-color: -primary;
    -fx-fill: WHITE;
}

.toggle-light:hover,
.toggle-light:hover SVGPath {
    -fx-background-color: derive(-primary, 70%);
    -fx-text-fill: WHITE;
    -fx-fill: white;
}


.toggle-center {
    -fx-background-radius: 0;
    -fx-border-width: 1px 0px 1px 0px;
    -fx-border-radius: 0px;
}

.toggle-left {
    -fx-background-radius: 4px 0px 0px 4px;
    -fx-border-radius: 4px 0px 0px 4px;
    -fx-border-width: 1px 0px 1px 1px;
}

.toggle-right {
    -fx-background-radius: 0px 4px 4px 0px;
    -fx-border-radius: 0px 4px 4px 0px;
    -fx-border-width: 1px 1px 1px 0px;
}

/************************************************************************************
*
*               #Typographic
*
*************************************************************************************/

.text-10, .btn-small, .text-small {
    -fx-font-size: 10px;
}

.text-12, .h6 {
    -fx-font-size: 12px;
}

.text-14, .h5, .sub-title,
.text-large, .flat:focused,
.btn-large {
    -fx-font-size: 14px;
}

.text-18, .h4 {
    -fx-font-size: 18px;
}

.text-24, .h3 {
    -fx-font-size: 24px;
}

.text-30, .h2 {
    -fx-font-size: 30px;
}

.text-36, .h1 {
    -fx-font-size: 36px;
}

.title {
    -fx-font-family: Roboto;
}

/************************************************************************************
*
*               #Background
*
*************************************************************************************/

.rectangle {
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
}

.round, .pagination .pagination-control .control-box .number-button {
    -fx-border-radius: 100px;
    -fx-background-radius: 100px;
}

.rounded {
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

.leaf {
    -fx-border-radius: 100px 0px 100px 0px;
    -fx-background-radius: 100px 0px 100px 0px;
}

.semi-leaf {
    -fx-background-radius: 20px 0px 20px 0px;
    -fx-border-radius: 20px 0px 20px 0px;
}

.mountain {
    -fx-background-radius: 100px 100px 0px 0px;
    -fx-border-radius: 100px 100px 0px 0px;
}

.reverse-mountain {
    -fx-background-radius: 0px 0px 100px 100px;
    -fx-border-radius: 0px 0px 100px 100px;
}

.round-tl {
    -fx-background-radius: 50px 0px 0px 0px;
}

.round-tr {
    -fx-background-radius: 0px 50px 0px 0px;
}

.round-br {
    -fx-background-radius: 0px 0px 50px 0px;
}

.round-bl {
    -fx-background-radius: 0px 0px 0px 50px;
}

.pill-left {
    -fx-background-radius: 50px 0px 0px 50px;
}

.pill-right {
    -fx-background-radius: 0px 50px 50px 0px;
}

.jelly {
    -fx-background-radius: 100px 100px 50px 50px;
}

.information {
    -fx-background-radius: 100px 100px 100px 0px;
}

.semi-paral-r {
    -fx-shape: "M 250 200 L 250 300 L 450 300 L 500 200 L 250 200";
}

.parallelogram-l {
    -fx-shape: "M 450 300 L 200 300 L 250 400 L 500 400 L 450 300 ";
}

.parallelogram-r {
    -fx-shape: "M 450 300 L 250 300 L 200 400 L 400 400 L 450 300 ";
}

.trapeze {
    -fx-shape: "M 450 300 L 250 300 L 200 400 L 500 400 L 450 300 ";
}

.trapeze-inverse {
    -fx-shape: "M 450 300 L 200 300 L 250 400 L 400 400 L 450 300 ";
}

.comb-close {
    -fx-shape: "M 300 350 L 250 400 L 450 400 L 450 300 L 250 300 L 300 350 ";
}

.comb-open {
    -fx-shape: "M 250 300 L 250 400 L 450 400 L 400 350 L 450 300 L 250 300 ";
}

.comb-right {
    -fx-shape: "M 250 300 L 250 400 L 450 400 L 500 350 L 450 300 L 250 300 ";
}

.comb-left {
    -fx-shape: "M 200 350 L 250 400 L 450 400 L 450 300 L 250 300 L 200 350 ";
}

.hexagom {
    -fx-shape: "M 200 350 L 250 400 L 450 400 L 500 350 L 450 300 L 250 300 L 200 350 ";
}

.arrow {
    -fx-shape: "M 550 400 L 350 400 L 400 350 L 350 300 L 550 300 L 600 350 L 550 400 ";
}

.star-2 {
    -fx-shape: "M 400 200 L 350 300 L 250 350 L 350 400 L 400 500 L 450 400 L 550 350 L 450 300 L 400 200";
}

.star {
    -fx-shape: "M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z";
}

.pac {
    -fx-shape: "M 300 500 A 50 50 360 1 1 300 200 L 300 350 L 450 350 C 450 400 400 500 300 500 ";
}

.heart {
    -fx-shape: "M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z";
}

.tool-tip {
    -fx-shape: "M 300 150 L 300 200 L 200 250 L 300 300 L 300 450 C 300 475 300 500 350 500 L 750 500 C 800 500 800 475 800 450 L 800 150 C 800 100 800 100 750 100 L 350 100 C 300 100 300 150 300 150 ";
}

/************************************************************************************
*
*               #Border
*
*************************************************************************************/

/* Size */


/* Color */
.border-gray > .depth-container .tab-header-area .tab-header-background {
    -fx-border-color: -medium-gray;
}


/*******************************************************************************
*
*       #Text
*
*******************************************************************************/

.text-white, .btn-light,
.outlined:focused,
.text-white .text,
.outlined:hover {
    -fx-fill: white;
    -fx-text-fill: white;
}

.text-primary, .out-primary,
.text-primary .text {
    -fx-fill: #4285f4;
    -fx-text-fill: #4285f4;
}

.text-secondary, .out-secondary,
.text-secondary .text {
    -fx-fill: -secondary;
    -fx-text-fill: -secondary;
}

.text-info, .out-info,
.text-info .text {
    -fx-fill: -info;
    -fx-text-fill: -info;
}

.text-base, .out-base,
.text-base .text {
    -fx-fill: -base;
    -fx-text-fill: -base;
}

.text-pink,
.text-pink .text {
    -fx-fill: #EC407A;
    -fx-text-fill: #EC407A;
}

.text-warning, .out-warning,
.text-warning .text {
    -fx-fill: -warning;
    -fx-text-fill: -warning;
}

.text-danger, .out-danger,
.text-danger .text {
    -fx-fill: -danger;
    -fx-text-fill: -danger;
}

.text-success, .out-success,
.text-success .text {
    -fx-fill: -success;
    -fx-text-fill: -success;
}

.text-elegant, .out-elegant, .btn-dark,
.text-elegant .text {
    -fx-fill: -elegant;
    -fx-text-fill: -elegant;
}

.text-unique, .out-unique,
.text-unique .text {
    -fx-fill: -unique;
    -fx-text-fill: -unique;
}

.text-facebook,
.text-facebook .text {
    -fx-fill: -facebook;
    -fx-text-fill: -facebook;
}

.text-twitter,
.text-twitter .text {
    -fx-fill: -twitter;
    -fx-text-fill: -twitter;
}

.text-google,
.text-google .text {
    -fx-fill: -google;
    -fx-text-fill: -google;
}

.text-linkedin,
.text-linkedin .text {
    -fx-fill: -linkedin;
    -fx-text-fill: -linkedin;
}

.text-instagram,
.text-instagram .text {
    -fx-fill: -instagram;
    -fx-text-fill: -instagram;
}

.text-pinterest,
.text-pinterest .text {
    -fx-fill: -pinterest;
    -fx-text-fill: -pinterest;
}

.text-youtube,
.text-youtube .text {
    -fx-fill: -youtube;
    -fx-text-fill: -youtube;
}


/************************************************************************************
*
*               @Button
*
*************************************************************************************/

.flat:hover, .flat:focused {
    -fx-background-color: -light-gray;
}

.flat:pressed, .flat, .pagination .pagination-control .control-box .number-button,
.pagination .pagination-control .control-box .left-arrow-button,
.pagination .pagination-control .control-box .right-arrow-button {
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-cursor: hand;
    -fx-font-size: 14px;
}

/************************************************************************************
*
*               @ScroolPane
*
*************************************************************************************/

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 0;
    -fx-background-color: transparent, transparent;
}

/*******************************************************************************
*
*                      @JFXBadge
*
*******************************************************************************/

.icon-rippler {
    -jfx-rippler-fill: BLUE;
    -jfx-mask-type: CIRCLE;
}

.icon-rippler:hover {
    -fx-cursor: hand;
}

/*******************************************************************************
*                                                                              *
*       @JFXHamburger
*                                                                              *
*******************************************************************************/

.jfx-hamburger {
    -fx-spacing: 3px;
    -fx-cursor: hand;
}

.jfx-hamburger StackPane {
    -fx-pref-width: 22px;
    -fx-pref-height: 2px;
    -fx-background-color: -gray;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}

.jfx-hamburger:hover StackPane {
    -fx-background-color: rgba(0, 0, 0, .5);
}

.jfx-hamburger:hover {
    -fx-background-radius: 100;
    -fx-background-color: rgba(0, 0, 0, .2);
}

.hambuger-small {
    -fx-padding: 10;
    -fx-spacing: 3px;
}

.hambuger-large {
    -fx-spacing: 6px;
}

.hambuger-large StackPane {
    -fx-pref-height: 60px;
    -fx-pref-width: 40px;
}

.hamburger-gray StackPane {
    -fx-background-color: -gray;
}

.hamburger-primary StackPane {
    -fx-background-color: -primary;
}

.hamburger-info StackPane {
    -fx-background-color: -info;
}

.hamburger-success StackPane {
    -fx-background-color: -success;
}

.hamburger-warning StackPane {
    -fx-background-color: -warning;
}

.hamburger-danger StackPane {
    -fx-background-color: -danger;
}

.hamburger-secondary StackPane {
    -fx-background-color: -secondary;
}

.hamburger-unique StackPane {
    -fx-background-color: -unique;
}

.hamburger-elegant StackPane {
    -fx-background-color: -elegant;
}


/*******************************************************************************
*                                                                              *
*       @TabPane
*                                                                              *
*******************************************************************************/



.tab-white .tab-header-background,
.tab-white .headers-region .tab .tab-container .tab-label {
    -fx-text-fill: rgba(0, 0, 0, .5);
    -fx-background-color: white;
    -jfx-rippler-fill: black;
}

.tab-white .depth-container .tab-header-area .headers-region .tab .jfx-rippler {
    -jfx-rippler-fill: #9e9e9e;
}

.tab-white .depth-container .tab-header-area .control-buttons-tab .tab-down-button {
    -fx-background-color: #9e9e9e;
}

.tab-white .depth-container .tab-header-area .control-buttons-tab:hover .tab-down-button {
    -fx-background-color: black;
}

.tab-line-aqua .headers-region .tab-selected-line {
    -fx-background-color: -aqua;
}

.tab-shadow-none .depth-container {
    -fx-effect: none;
}


.chart-legend {
    -fx-background-color: transparent;
}

.chart .chart-content .chart-plot-background {
    -fx-background-color: transparent;
}

/*Changer la couleur et la taille de l'en tête des tableview*/

.tree-table-view .column-header-background {
    -fx-padding: 8px 6px 8px 6px;
    -fx-background-color: transparent;
}


.tree-table-view .column-header-background .filler,
.tree-table-view .column-header-background .nested-column-header .table-column {
    -fx-background-color: transparent;
}

.tree-table-view {
    -fx-font-family: Roboto;
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
    -fx-border-color: -box-fill;
    -fx-background-color: transparent;
}


.tree-table-view:focused {
    -fx-border-color: -base;
}


.tree-table-view .column-header-background .nested-column-header .table-column .label {
    /*-fx-padding: 8px 4px 8px 4px;*/
    -fx-alignment: center_left;
}

.tree-table-view:focused .column-header-background {
    -fx-border-color: -base;
}

.tree-table-view .column-header-background {
    -fx-border-color: -box-fill;
    -fx-border-width: 0px 0px 1px 0px;
}

.table-view .virtual-flow .scroll-bar:vertical,
.tree-table-view .virtual-flow .scroll-bar:vertical {
    -fx-translate-y: 1px;
    -fx-padding: 0px;
    -fx-background-insets: 2px;
}

.tree-cell .tree-disclosure-node .arrow,
.tree-table-view .virtual-flow .clipped-container .sheet .tree-table-row-cell .tree-disclosure-node .arrow {
    -fx-background-color: -icon-color;
    -fx-shape: "M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z";
}

.tree-table-view .virtual-flow .clipped-container .sheet .tree-table-row-cell:selected .tree-disclosure-node .arrow {
    -fx-background-color: white;
}

.tree-table-view .virtual-flow .clipped-container .sheet .tree-table-row-cell:selected .table-column:filled .text {
    -fx-fill: white;
}

.tree-table-view .virtual-flow .clipped-container .sheet .tree-table-row-cell:filled .table-column:filled .text {
    -fx-fill: -text-color;
}

.tree-table-view .virtual-flow .clipped-container .sheet .tree-table-row-cell .table-column {
    -fx-border-color: transparent;
}

.tree-table-view .column-header-background .nested-column-header .table-column .label .text {
    -fx-fill: -text-color;
}

.table-column .arrow {
    -fx-background-color: -icon-color;
    -fx-shape: "M8.124,13.625l4.125-3.375v2.889l-4.125,3.86L4,13.139V10.25L8.124,13.625z";
}

.tree-view {
    -fx-border-color: -box-fill;
    -fx-background-color: transparent;
}

.tree-view .virtual-flow .clipped-container,
.tree-view .virtual-flow .clipped-container .sheet .tree-cell {
    -fx-background-color: transparent;
}

.tree-view .virtual-flow .clipped-container .sheet .tree-cell:focused:filled .tree-disclosure-node .arrow {
    -fx-background-color: white;
}


.tree-view .virtual-flow .clipped-container .sheet .tree-cell:filled {
    -fx-text-fill: -text-color;
}

.tree-view .virtual-flow .clipped-container .sheet .tree-cell:filled:selected {
    -fx-text-fill: white;
}

.axis {
    -fx-tick-label-fill: -text-color;
}

.chart-title {
    -fx-text-fill: -text-color;
}

.titled-pane .title .arrow-button .arrow {
    -fx-shape: "M-78,640l-6-5.5v-3l6,5l0,0l6-5v3L-78,640L-78,640z";
}

.deep-button {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0, 0 0 2 0, 0 0 2 0, 0 0 2 0;
    -fx-background-color: derive(-base, -40%), derive(-base, -40%), derive(-base, -40%), -base;
}
